body {
    text-align: center;
    align-items: center;
}

h4 {
    font-size: 25px;
    letter-spacing:8px;
    font-weight: 350;
    border: 1px solid #ff6f61;
    width: 500px;
    margin: 20px auto;
    background-color:#ff6f61;
    border-radius:8px;
    padding: 8px;

}

form {
    width: 500px;
    border: 1px solid black;
    height: 200px;
    margin: 0 auto;
    padding: 15px;
    border-radius:8px;
    background-color: #ff6f61;
}

form input {
    width: 100%;
    margin-bottom: 18px;
}

form label {
    float: left;
    margin-bottom: 10px;
    margin-left: 1px;
    text-transform: uppercase;
    
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #88b04b;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing:4px;
}

